<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_question_success</title>
</head>
<body>
<h3>Вопрос внесен в базу данных.</h3>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<table border="5" cellpadding="5" cellspacing="5" style="width:80%">
    <tbody>
    <tr>
        <td><a href="add_question">add question</a></td>
        <td>Переход на страницу добавления вопроса</td>
    </tr>
    <tr>
        <td><a href="get_data">get data</a></td>
        <td>Переход на страницу запроса данных из базы</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<a href="/admin">Завершить</a>

</body>
</html>