<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get data</title>
</head>
<body>
<h3>Варианты запросов:</h3>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<table border="5" cellpadding="5" cellspacing="5" style="width:80%">
    <tbody>
    <tr>
        <td><a href="show_results">Посмотреть результаты</a></td>
        <td>Переход к списку сотрудников, прошедших тест</td>
    </tr>
    <tr>
        <td><a href="">Заглушка</a></td>
        <td>На данный момент ссылка не активна, функционал в разработке</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

</body>
</html>