<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add_question_success</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div id="global">
    <div class="menu">
        <ul>
            <li><a href="show_questions">Вопросы</a></li>
            <li><a href="/">Добавить вопрос</a></li>
            <li><a href="#">Найти сотрудника</a></li>
            <li><a href="#">Кнопка 4</a></li>
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>

<h3>Вопрос внесен в базу данных.</h3>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<table border="5" cellpadding="5" cellspacing="5" style="width:80%">
    <tbody>
    <tr>
        <td><a href="add_question">add question</a></td>
        <td>Переход на страницу добавления вопроса</td>
    </tr>
    <tr>
        <td><a href="admin/show_data">get data</a></td>
        <td>Переход на страницу запроса данных из базы</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<a href="/admin/admin">Завершить</a>

</body>
</html>