<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div id="global">
    <div class="menu">
        <ul>
            <li><a href="show_questions">Все вопросы</a></li>
            <li><a href="#">Найти сотрудника</a></li>
            <li><a href="/">Все результаты</a></li>
            <li><a href="#">Кнопка 4</a></li>
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>

<h3>Добавьте вопрос</h3>

<form action="#" th:action="@{/admin/questions/add_question}" method="post" th:object="${quizQuestion}">

    <label>Тема:</label>
    <select style="width: 20%" th:field="*{topic}">
        <option th:each="t : ${topicVariants}" th:value="${t}" th:text="${t}"></option>
    </select><br/>

    <label>Вопрос:</label>
    <textarea style="height: 120px; width: 30%" type="text" th:field="*{question}"></textarea><br/>

    <label>Правильный ответ:</label>
    <select style="width: 5%; text-align: center" th:field="*{correctAnswer}">
        <option th:each="a : ${answerVariants}" th:value="${a}" th:text="${a}"></option>
    </select><br/>

    <button type="submit">Добавить</button>

</form>
<br/>

</body>
</html>