<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<h2>Главное меню</h2>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<table border="5" cellpadding="5" cellspacing="5" style="width:80%">
    <tbody>
    <tr>
        <td><a href="admin/add_question">Добавить вопрос</a></td>
        <td>Переход на страницу добавления вопроса</td>
    </tr>
    <tr>
        <td><a href="admin/get_data">Получить данные</a></td>
        <td>Переход на страницу запроса сведений из базы данных</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>


</body>
</html>